@tailwind base;
@tailwind components;
@tailwind utilities;

.underline-animation {
  position: relative;
}

.underline-animation:after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  display: block;
  margin-top: 20px;
  right: 0;
  background: rgb(14 116 144);
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}

.underline-animation:hover:after {
  width: 100%;
  left: 0;
  background: rgb(14 116 144);
}

.hero-section {
  position: relative;
  width: 100%;
  height: calc(88vh - 80px);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/hero-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.contact-section {
  position: relative;
}

.contact-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/contact-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.7;
}

.banner {
  position: relative;
  width: 100%;
  height: 280px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/hero-bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.9;
  z-index: -1;
}

.directions {
  width: 36px;
  height: 26px;
  background-image: url("/images/fork-right.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .banner {
    height: 200px;
  }

  .navbar {
    position: fixed;
    z-index: 3;
  }

  .hero-section {
    height: calc(100vh - 80px);
  }

  .navmenu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    width: 80%;
    height: 100vh;
    top: 0;
    right: -100%;
    z-index: 3;
    padding: 80px;
    gap: 2em;
    transition: 0.3s ease-in-out;
    box-shadow: -10px 0px 10px -15px rgba(0, 0, 0, 0.5);
  }

  .navmenu.opened {
    right: 0;
  }

  .hamburger {
    position: fixed;
    display: block;
    z-index: 4;
    top: 26px;
    right: 32px;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
  }

  .hamburger.opened .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.opened .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.opened .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .dimmer {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    transition: 0.3s ease-in-out;
    pointer-events: none;
  }

  .dimmer.opened {
    opacity: 0.5;
  }
}
